// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~summernote/dist/summernote-bs4.css";
@import "~select2/dist/css/select2.css";

.flash {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 999;
}
